<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Football</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Preseason Sign-Up!</h1>

    <a href="/login">Join Here</a>
  </body>
</html>
